@import dbs.models.CarAdvert
@(carAdvertForm: Form[CarAdvert], listCarAdvert:Seq[CarAdvert])(implicit request: MessagesRequestHeader)
@* Created by DongHee Kim on 2019-05-08 오후 7:49. *@

@main() {
    <div class="container">
        <div class="row my-2">
            <div class="col-sm">
                <small>Number of registered vehicles: 9999</small>
            </div>
            <div class="col-sm">
               @* <button type="button" class="float-right btn btn-warning btn-sm" data-toggle="modal" data-target="#createCarAdvertModal">Create</button>*@
                <a href="@routes.HomeController.createForm()" class="float-right btn btn-warning btn-sm" >Create</a>
            </div>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table class="table">

            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Fuel</th>
                    <th scope="col">Price</th>
                    <th scope="col">New</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">First Registration</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Audi A4 Avant</td>
                    <td>Gasoline</td>
                    <td>$100,000</td>
                    <td>Yes</td>
                    <td>999999km</td>
                    <td>2019-05-05</td>
                    <td><button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#editCarAdvertModal" data-whatever="@@mdo">
                        Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Audi A4 Avant</td>
                    <td>Gasoline</td>
                    <td>$100,000</td>
                    <td>Yes</td>
                    <td>999999km</td>
                    <td>2019-05-05</td>
                    <td><button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#editCarAdvertModal" data-whatever="@@mdo">
                        Edit</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Audi A4 Avant</td>
                    <td>Gasoline</td>
                    <td>$100,000</td>
                    <td>Yes</td>
                    <td>999999km</td>
                    <td>2019-05-05</td>
                    <td><button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#editCarAdvertModal" data-whatever="@@mdo">
                        Edit</button></td>
                </tr>

            </tbody>
        </table>
    </div>

    @tags.create_car_advert_modal(carAdvertForm)
    @tags.edit_car_advert_modal()
    @* <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>*@
}